//My-var-SCSS
$bgcolor: #bce27f; // mientowy
$textcolor: #cddad7;
$violetMax_nav: #EE82EE;
$mediumOrchid_header: #DDA0DD;

//global-config
* {
    padding: 0px;
    margin: 0px;
}

//main-divs
.main {
    display: flex;
    flex-direction: column;
    background-color: #9b59b6;
   
}

.header {
    height: 100vh;
    display: grid;
    grid-template-rows: auto min-content;

    padding: 5px;
    border: 2px solid red;
    background-color: $mediumOrchid_header;
}

.nav {
    display: flex;
    padding: 0.5em;
    border-bottom: 2px solid black;
    justify-content: space-between;
    background-color: $violetMax_nav;
    //scrolling nav
    // position: fixed;
    // top: 0;
    // width: 100%;
}


.contact {
    display: flex;
    flex-direction: row;
    width: 290px;
    justify-content: space-between;
    border: 2px dashed pink;
    padding: 5px;
}

// IMPORTANT  //
.contact > a {
    color: white;
    font-size: 1.35em;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact > a:hover {
    background-color: rgb(255, 153, 255);
}

.footer {
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 1em;
    border: 2px solid blue; // for testing purpose 
}


//other
.logo {
    margin: 2px;
    border: 2px dashed pink;
}

img  {
    height: 48px;
    display: flex;
    justify-content: flex-end;
}

.header-items  {
    padding: 5px;
    border: 2px solid pink;

    display: flex; //work perfect 
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
}

.header-items:nth-child(1) img { 
    max-height: 100%;
    min-height: 100%;
    object-fit: fill;

    border: 3px solid gray;
}

.header-items:nth-child(1):hover img { 
    border: 3px solid gray;
    max-height: 100%;
    min-height: 100%;
    object-fit: fill; 
}

.header-items:nth-child(3) img { 
    width: 100%;
    max-height:100%;
    min-height: 100%;
    object-fit: fill;
    
}

h1 {
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p:nth-child(1) {
    text-align: center;
    color: black;
}

// to work h2 ---> into p // 
h2 {
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

