//My-var-SCSS
$bgcolor: #bce27f; // mientowy
$textcolor: #cddad7;
$violetMax_nav: #EE82EE;
$mediumOrchid_header: #DDA0DD;
// CLEAN CODE !!! // 
//global-config
* {
    padding: 0px;
    margin: 0px;   
    font-family: "Calibri", "Arial", "Helvetica", sans-serif;
}

.smoke {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-image:  url("https://motionarray.imgix.net/preview-5024506HpRAQoWc_0014.jpg");

    animation: smoke 199s linear infinite;
}

//main-divs
.main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 8px;
    height: 100vh;
    padding: 10px;
    align-items: center;
    background-color: #9b59b6;

    border: 1px solid black;
}

.main > img {
    margin: 0 auto;
    // testing // 
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    // testing //
    border: 1px solid black; // for test purposes
}

.main > p {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
    height: 100vh;
    display: grid;
    grid-template-rows: auto min-content;
    padding: 10px;
    padding-top: 77px;
    border: 1px solid black;
    background-color: lightpink;

}

.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    //scrolling nav
    position: fixed;
    width: 100%;
    transition: 0.5s; // for js soon
    overflow: auto;
}

.nav img {
    height: 48px;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 290px;
    justify-content: space-between;
    padding: 5px;
}

.contact > img {
    height: 48px;
    border: 2px solid red;
}

// IMPORTANT  //
.contact > a {
    color: white;
    font-size: 1.35em;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact > a:hover {
    background-color: rgb(255, 153, 255);
}

.footer {
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 1.5em;
}


//other
.logo {
    margin: 2px;
    padding: 2px;
}

.logo > img {
    height: 48px;
}

.header-items  {
    padding: 10px;

    display: flex; 
    justify-content: center;
    align-items: center
}

.header-items:nth-child(2)  {
    border: 2px solid black;
    margin: 10px;
}

.header-items:nth-child(1) img { 
    max-height: 100%;
    min-height: 100%;
    object-fit: fill;

    border: 2px solid black;
}

.header-items:nth-child(1):hover img { 
    max-height: 100%;
    min-height: 100%;
    object-fit: fill; 
}

.header-items:nth-child(3) img { 
    width: 100%;
    max-height:100%;
    min-height: 100%;
    object-fit: fill;
    
}

h1 {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p:nth-child(1) {
    text-align: center;
    color: black;
}

// to work h2 ---> into p // 
h2 {
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@keyframes smoke {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2122px 0;
    }
}

