* {
  padding: 0px;
  margin: 0px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100vh;
  background-color: #9b59b6;
  border: 3px solid yellow;
}

.photos {
  border: 5px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100vh;
  margin: auto;
  align-items: center;
}

.main > p {
  border: 1px solid red;
  text-align: center;
}

.header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto min-content;
      grid-template-rows: auto -webkit-min-content;
      grid-template-rows: auto min-content;
  padding: 5px;
  border: 2px solid red;
  background-color: #DDA0DD;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5em;
  border-bottom: 2px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EE82EE;
}

.nav img {
  border: 2px solid red;
  height: 48px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 290px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px dashed pink;
  padding: 5px;
}

.contact > img {
  height: 48px;
  border: 2px solid red;
}

.contact > a {
  color: white;
  font-size: 1.35em;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact > a:hover {
  background-color: #ff99ff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1.5em;
  border: 2px solid blue;
}

.logo {
  margin: 2px;
  border: 2px dashed pink;
}

.logo > img {
  height: 48px;
}

.header-items {
  padding: 5px;
  border: 2px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  font-size: 3em;
}

.header-items:nth-child(1) img {
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border: 3px solid gray;
}

.header-items:nth-child(1):hover img {
  border: 3px solid gray;
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header-items:nth-child(3) img {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p:nth-child(1) {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/*# sourceMappingURL=App.css.map */