* {
  padding: 0px;
  margin: 0px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 8px;
  height: 100vh;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9b59b6;
  -webkit-box-shadow: inset 0 0 2em black;
          box-shadow: inset 0 0 2em black;
}

.main > img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.main > p {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto min-content;
      grid-template-rows: auto -webkit-min-content;
      grid-template-rows: auto min-content;
  padding: 10px;
  padding-top: 77px;
  background-color: #DDA0DD;
}

.header img:nth-child(2) {
  width: 100%;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5em;
  border-bottom: 1px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EE82EE;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: auto;
}

.nav img {
  height: 48px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 290px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px dashed pink;
  padding: 5px;
}

.contact > img {
  height: 48px;
  border: 2px solid red;
}

.contact > a {
  color: white;
  font-size: 1.35em;
  font-style: italic;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact > a:hover {
  background-color: #ff99ff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1.5em;
}

.logo {
  margin: 2px;
  border: 2px dashed pink;
}

.logo > img {
  height: 48px;
}

.header-items {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-items:nth-child(2) {
  border: 2px solid black;
  margin: 10px;
}

.header-items:nth-child(1) img {
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border: 2px solid black;
}

.header-items:nth-child(1):hover img {
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header-items:nth-child(3) img {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p:nth-child(1) {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/*# sourceMappingURL=App.css.map */